.Blue {
	color: blue;
}

.Red {
	color: red;
}

.Orange {
	color: orange;
}

.Purple {
	color: purple;
}

.Hazel {
	color: #CD88A3;
}

.Aquamarine {
	color: aquamarine;
}

.Periwinkle {
	color: #CCCCFF;
}

.Azure  {
	color: azure;
}




